{% extends 'googledriveapp/base.html' %} {% block body %}
<div style="display: flex; padding: 10px 20px; justify-content: space-between">
  <div class="">
    <div class="container py-3">
      <div class="row">
        <!--  -->
        {% for i in folder %}
        <div class="col-lg-3" style="padding-bottom: 15px">
            <div class="card" style="width: 18rem; border: 2px solid grey;">
            <div class="card-body">
              <h5 class="card-title">{{i.foldername}}</h5>
              <p class="card-text">{{i.folderdesc}}</p>
              <a href="{% url 'folder' i.id %}" class="btn btn-outline-primary"
                >Go To Folder
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
        <!--  -->
      </div>
    </div>
  </div>
  <div class="">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-light btn-outline-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-folder-plus" viewBox="0 0 16 16">
            <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"/>
            <path d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
        </svg>
      Add Folder
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Folder</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="{% url 'addfolder' %}" method="POST">
            {% csrf_token %}
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label"
                  >Folder Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  name="foldername"
                />
                <label for="exampleFormControlInput1" class="form-label"
                  >Folder Desc</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="exampleFormControlInput1"
                  name="desc"
                />
                <button class="btn btn-outline-success my-3">Add Folder</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
