{% extends 'googledriveapp/base.html' %} {% block body %}
{% for message in messages %}
<h1>{{message}}</h1>
{% endfor %}
<div class="container py-4" style="display: flex;">
  <form action="{% url 'signup' %}" method="POST" style="margin: auto; display: grid;">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="username"
          style="width: 350px;"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="email"
          style="width: 350px;"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="fname"
          style="width: 350px;"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="lname"
          style="width: 350px;"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="password"
          style="width: 350px;"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Confirm Password</label
      >
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="cpassword"
          style="width: 350px;"
      />
    </div>

    <button type="submit" class="btn btn-primary"
            style="width: 100px; margin: auto;"
    >Sign Up</button>
  </form>
</div>

{% endblock body %}
